<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuwVvTunefc7neMzXof_0Z-b8m6dHofOc</string>
	<key>GCM_SENDER_ID</key>
	<string>792066212390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoCoinsList</string>
	<key>PROJECT_ID</key>
	<string>crypto-list-ee691</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-list-ee691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792066212390:ios:d6af20cc7b15cc0c3a1ce7</string>
</dict>
</plist>